
@{
  ViewBag.Title = IMS.Resources.Resource.TradeAnalysis;
}

<br />

<ol class="breadcrumb">
  <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">首頁</a></li>
  <li class=""><a href="@Url.Action("Index","Home",new { area = "DataAnalysis" })">@IMS.Resources.Resource.Model_DataAnalysis</a></li>
  <li class="active">@IMS.Resources.Resource.TradeAnalysis</li>
</ol>

<h2>@IMS.Resources.Resource.TradeAnalysis</h2>

