
@{
  ViewBag.Title = IMS.Resources.Resource.Model_DataAnalysis;
  Layout = "~/Views/Shared/_DataAnalysisLayout.cshtml";
}

<br />

<ol class="breadcrumb">
  <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">首頁</a></li>
  <li class="active">@IMS.Resources.Resource.Model_DataAnalysis</li>
</ol>


<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Index","FeedToMeet",new { area = "DataAnalysis"})" class="btn btn-lg btn-link">
        <span class="fa fa-files-o"></span> 飼料換肉率分析 >
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Index","TradeAnalysis")" class="btn btn-lg btn-link">
        <span class="fa fa-files-o"></span> 交易紀錄分析 >
      </a>
    </div>
  </div>
</div>



@*<div class="row">
  <div class="col-sm-6">
    <br />
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">@IMS.Resources.Resource.DataAnalysis_Classification</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="@Url.Action("Index","Butcher",new { area="Traceability"})">K-Means</a>
        </p>
        <p>
          <a href="@Url.Action("Index","BigCut",new { area="Traceability"})">Self-Organizing Map</a>
        </p>

      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">@IMS.Resources.Resource.DataAnalysis_Cluster</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="@Url.Action("Index","Health",new { area="Traceability"})">>C4.5</a>
        </p>
        <p>
          <a href="@Url.Action("Index","Environment",new { area="Traceability"})">K-Nearest Neighbor</a>
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <br />
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">@IMS.Resources.Resource.DataAnalysis_Associative </h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="@Url.Action("Index","Health",new { area="Traceability"})">Apriori</a>
        </p>
        <p>
          <a href="@Url.Action("Index","Environment",new { area="Traceability"})">COFI Tree</a>
        </p>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">@IMS.Resources.Resource.DataAnalysis_Regression</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="@Url.Action("Index","Health",new { area="Traceability"})">Simple Regression</a>
        </p>
        <p>
          <a href="@Url.Action("Index","Environment",new { area="Traceability"})">Multiple Regression</a>
        </p>
        <p>
          <a href="@Url.Action("Index","Med",new { area="Traceability"})">Linear Regression</a>
        </p>

      </div>
    </div>
  </div>
</div>*@

