@model IEnumerable<IMS.Models.Photo>
@{
    int itemCount = ViewBag.ItemSize;
    int currentPage = ViewBag.currentPage;
    int pageItem = 9;
    int pageCount = itemCount / pageItem;
    if (itemCount % pageItem > 0)
    {
        pageCount += 1;
    }
    int Item_ed = currentPage * pageItem;
    int Item_st = Item_ed - pageItem + 1;
    if(Item_ed > itemCount)
    {
        Item_ed = itemCount;
    }
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                @if (item.PhotoFile != null)
                {
                    <img src="@Url.Action("GetImage","Photo",new { id=item.Id})" style="height:240px" />
                }
                <div class="caption">
                    <h3><b>@item.Title </b></h3>
                    <p>建立者:@Html.DisplayFor(model => item.PostName)</p>
                    <p>
                        建立日期:@Html.DisplayFor(model => item.PostDate)
                    </p>
                    <p>
                        @Html.ActionLink(IMS.Resources.Resource.Comm_Details + " >", "Display", new { id = item.Id }, new { @class = "btn btn-link" })
                        @*@Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id = item.Id }, new { onclick = "return confirm('確定要刪除嗎??')", Class = "btn btn-danger" })*@

                    </p>
                </div>
            </div>
        </div>
        @*<h2>『@item.Title』</h2>

            if (item.PhotoFile != null)
            {
                <img src="@Url.Action("GetImage","Photo",new { id=item.Id})" style="width:70%" />
            }

            <p>
                建立者:@Html.DisplayFor(model => item.PostName)
            </p>

            <p>
                建立日期:@Html.DisplayFor(model => item.PostDate)
            </p>
            <p>
                @Html.ActionLink("顯示詳細資料", "Display", new { id = item.Id }) |
                @Html.ActionLink("詳細資料byTitle", "DisplayByTitle", new { title = item.Title })
            </p>
            <hr />*@

    }

    @if(Model.Count() < 1)
    {
        <div class="col-sm-12">
            <label class="h4 text-warning">查無資料</label>
        </div>
    }
</div>

@if(ViewBag.number == 0 && Model.Count() > 0)
{
    <label>
        第 @Item_st 到 @Item_ed， 共 @itemCount 筆
    </label>
    <nav aria-label="Page navigation">
        <ul class="pagination">

            @if (currentPage > 1)
            {
                <li>
                    <a href="@Url.Action("Index","Photo",new { area="Management",pigFarmId = ViewBag.PigFarmId, searchString = "", currentPage = pageCount - 1})" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }


            @for (int i = 1; i <= pageCount; i++)
            {
                if(currentPage == i)
                {
                    <li class="active"><a href="@Url.Action("Index","Photo",new { area="Management",pigFarmId = ViewBag.PigFarmId, searchString = "", currentPage = i})">@i</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index","Photo",new { area="Management",pigFarmId = ViewBag.PigFarmId, searchString = "", currentPage = i})">@i</a></li>
                }
            }

            @if (currentPage < pageCount)
            {
                <li>
                    <a href="@Url.Action("Index","Photo",new { area="Management",pigFarmId = ViewBag.PigFarmId, searchString = "", currentPage = currentPage + 1})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
}
