
@{
    ViewBag.Title = IMS.Resources.Resource.Home;
    String pigFarmId = Request.Cookies["pigFarmId"] == null ? "" : Request.Cookies["pigFarmId"].Value;
}

<div class="">
    <h1><span id="pigFarmName"></span><small>管理頁面</small></h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <a data-toggle="collapse" href="#FarmData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_FarmData</h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="FarmData">
        <div class="row">
            <div class="col-sm-6">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>豬場照片</b>
                        </h3>
                        <img src="@Url.Action("GetImage","PigFarm",new { id=pigFarmId ,area = "Sys"})" style="height:360px; width:100%" />
                        <a href="@Url.Action("EditPigFarmPic","Home",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>
                    </div>
                </div>
                <br />
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.FarmData_License</b>
                        </h3>
                        <div id="FarmDataLicenseInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <a href="@Url.Action("Edit","FarmDataLicense",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.FarmData_base</b>
                        </h3>
                        <div id="FarmDataBaseInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <a href="@Url.Action("Edit","FarmDataBase",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>

                    </div>
                </div>
                <br />
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.FarmData_Land</b>
                        </h3>
                        <div id="FarmDataLandInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <a href="@Url.Action("Edit","FarmDataLand",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>
                    </div>
                </div>
                <br />
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.FarmData_Barn</b>
                        </h3>
                        <div id="FarmDataBarn" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading text-center">
        <a data-toggle="collapse" href="#EnvironmentData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_EnvironmentData </h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="EnvironmentData">
        <div class="row">
            <div class="col-sm-6">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.EnvironmentData_Temperature</b>
                        </h3>
                        <div id="chart_Temperature" style="width:100%; height:400px;"></div>
                        <a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-primary">@IMS.Resources.Resource.Comm_View ></a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.EnvironmentData_Humidity</b>
                        </h3>
                        <div id="chart_Humidity" style="width:100%; height:400px;"></div>
                        <a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-primary">@IMS.Resources.Resource.Comm_View ></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>@IMS.Resources.Resource.EnvironmentData_Abnormal</b>
                        </h3>
                        <a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-link">@IMS.Resources.Resource.Comm_Edit ></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <a data-toggle="collapse" href="#PhotoData">
            <h3 class="panel-title">@IMS.Resources.Resource.EnvironmentData_Image </h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="PhotoData">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            <b>最新三筆</b>
                        </h3>
                        @if (pigFarmId != "")
                        {
                            <p>
                                @*//3.12  修改View(Home/Index),使用 _PhotoGallery Action輸入number參數*@
                                @Html.Action("_PhotoGallery", "Photo", new { pigFarmId = pigFarmId, number = 3 })  @*這一行是PartialView*@
                            </p>
                        }
                        <a href="@Url.Action("Index","Photo",new { area="Management",pigFarmId=pigFarmId})" class="btn btn-primary">@IMS.Resources.Resource.Comm_Enter ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <a data-toggle="collapse" href="#BaseData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_BaseData </h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="BaseData">
        <div class="row">
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_PigChange
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Med
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_FixedCost
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Customer
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Expenses
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="caption text-center">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Income
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-warning">@IMS.Resources.Resource.Comm_Enter ></a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section JS{


    <script>
        let pigFarmName = $('#selectPigFarm option:selected').text();
        $('#pigFarmName').text(pigFarmName);

        function renderChart() {
            Highcharts.chart('chart_Temperature', {

                title: {
                    text: '近期各場溫度'
                },

                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    //categories: ['Apples', 'Bananas', 'Oranges'],
                    gridLineWidth: 1,
                    title: {
                        text: '時間'
                    },
                    type: 'datetime',
                    tickInterval: 3600*1000
                },
                yAxis: {
                    title: {
                        text: '溫度 攝氏'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: Date.UTC(2019, 1, 19,8),
                        pointInterval: 3600 * 1000 // one hour
                    }
                },

                series: [{
                    name: 'A場',
                    data: [27, 30, 31, 32, 31.4, 30, 29.1, 26]
                }, {
                    name: 'B場',
                    data: [26, 28, 30, 31, 33.4, 29, 28, 24]
                }, {
                    name: 'C場',
                    data: [26.5, 27.6, 33, 30, 32.1, 31, 27.1, 25]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });

            Highcharts.chart('chart_Humidity', {

                title: {
                    text: '近期各場濕度'
                },

                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                yAxis: {
                    title: {
                        text: '濕度 %'
                    }
                },
                xAxis: {
                    title: {
                        text: '時間'
                    },
                    type: 'datetime',
                    tickInterval: 3600 * 1000
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: Date.UTC(2019, 1, 19, 8),
                        pointInterval: 3600 * 1000 // one hour
                    }
                },

                series: [{
                    name: 'A場',
                    data: [46, 47, 44, 46, 49, 50, 52, 54]
                }, {
                    name: 'B場',
                    data: [51, 53, 54, 56, 57, 51, 50, 52]
                }, {
                    name: 'C場',
                    data: [40, 45, 47, 51, 55.1, 50, 48, 45]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }


        function getFarmDataBase() {

            url = "@Url.Action("GetFarmDataBase")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataBaseInfo').empty();
                    //console.log(data);
                    var id = $('<p>').html('負責人:' + data.OwnerName);
                    var title = $('<p>').html('負責人地址:' + data.OwnerAddress);
                    var description = $('<p>').html('牧場名稱:' + data.FarmName);
                    var createdDate = $('<p>').html('牧場地址:' + data.FarmAddress);
                    $('#FarmDataBaseInfo').append(id).append(title).append(description).append(createdDate);

                }, error: function () {
                    $('#FarmDataBaseInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataBaseInfo').append(error);
                }

            });

        };

        function getFarmDataLand() {

            url = "@Url.Action("GetFarmDataLand")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataLandInfo').empty();
                    //console.log(data);
                    var LandNo = $('<p>').html('牧場土地地段:' + data.LandNo);
                    var AreaSize = $('<p>').html('土地面積:' + data.AreaSize + ' 平方公尺');
                    var LandProperty = $('<p>').html('土地產權:' + data.LandProperty);
                    //var UseType = $('<p>').html('使用區分------');
                    var UseIsCity = $('<p>').html('都市計畫土地:' + data.UseIsCity);
                    var UseNonCity = $('<p>').html('非都市計畫土地:' + data.UseNonCity);
                    var NonCityType = $('<p>').html('非都市土地用地類別:' + data.NonCityType);
                    $('#FarmDataLandInfo').append(LandNo).append(AreaSize).append(LandProperty).append(UseIsCity).append(UseNonCity).append(NonCityType);

                }, error: function () {
                    $('#FarmDataLandInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataLandInfo').append(error);
                }

            });

        };

        function getFarmDataLicense() {

            url = "@Url.Action("GetFarmDataLicense")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataLicenseInfo').empty();
                    //console.log(data);
                    var RunType = $('<p>').html('經營型態:' + data.RunType);
                    $('#FarmDataLicenseInfo').append(RunType);

                }, error: function () {
                    $('#FarmDataLicenseInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataLicenseInfo').append(error);
                }

            });

        };

        function getFarmDataBarn() {
            $('#FarmDataBarn').empty();
            var error = $('<p>').html('Not Found');
            $('#FarmDataBarn').append(error);
            @*url = "@Url.Action("GetFarmDataBarn")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataBarn').empty();
                    //console.log(data);
                    var RunType = $('<p>').html('經營型態:' + data.RunType);
                    $('#FarmDataBarn').append(RunType);

                }, error: function () {
                    $('#FarmDataBarn').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataBarn').append(error);
                }

            });*@

        };


        getFarmDataBase();
        getFarmDataLand();
        getFarmDataLicense();
        getFarmDataBarn();
        renderChart();
    </script>
}
