
@{
    ViewBag.Title = IMS.Resources.Resource.Model_Management;
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


<div class="row">
    <div class="col-sm-4">
        <br />
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Management_BaseData</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Health",new { area="Management"})">@IMS.Resources.Resource.FarmData_base</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Environment",new { area="Management"})">@IMS.Resources.Resource.FarmData_Land</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Med",new { area="Management"})">@IMS.Resources.Resource.FarmData_License</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","FeedAndAdditive",new { area="Management"})">@IMS.Resources.Resource.FarmData_Barn</a>
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Management_EnvironmentData </h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Butcher",new { area="Management"})">@IMS.Resources.Resource.EnvironmentData_Abnormal</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","BigCut",new { area="Management"})">@IMS.Resources.Resource.EnvironmentData_Temperature</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","SmallCut",new { area="Management"})">@IMS.Resources.Resource.EnvironmentData_Humidity</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Management"})">@IMS.Resources.Resource.EnvironmentData_Image</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Management_FarmData </h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Butcher",new { area="Management"})">@IMS.Resources.Resource.BaseData_PigChange</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","BigCut",new { area="Management"})">@IMS.Resources.Resource.BaseData_Med</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","SmallCut",new { area="Management"})">@IMS.Resources.Resource.BaseData_FixedCost</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Management"})">@IMS.Resources.Resource.BaseData_Customer</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Management"})">@IMS.Resources.Resource.BaseData_Expenses</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Management"})">@IMS.Resources.Resource.BaseData_Income</a>
                </p>
            </div>
        </div>
    </div>
</div>




