
@{
    ViewBag.Title = IMS.Resources.Resource.Home;
    String pigFarmId = Request.Cookies["pigFarmId"] == null ? "" : Request.Cookies["pigFarmId"].Value;
}


<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#FarmData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_FarmData</h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="FarmData">
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.FarmData_base
                        </h3>
                        <hr />
                        <div id="FarmDataBaseInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <p><a href="@Url.Action("Edit","FarmDataBase",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            豬場照片
                        </h3>
                        <img src="@Url.Action("GetImage","PigFarm",new { id=pigFarmId ,area = "Sys"})" style="width:70%" />
                    </div>
                </div>              
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.FarmData_Land
                        </h3>
                        <hr />
                        <div id="FarmDataLandInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <p><a href="@Url.Action("Edit","FarmDataLand",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.FarmData_License
                        </h3>
                        <hr />
                        <div id="FarmDataLicenseInfo" class="form-group">
                            <div class="loader"></div>
                        </div>
                        <p><a href="@Url.Action("Edit","FarmDataLicense",new { area="Management", pigFarmId=pigFarmId})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.FarmData_Barn
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#EnvironmentData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_EnvironmentData </h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="EnvironmentData">
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.EnvironmentData_Abnormal
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.EnvironmentData_Temperature
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-success">@IMS.Resources.Resource.Comm_View</a></p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.EnvironmentData_Humidity
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-success">@IMS.Resources.Resource.Comm_View</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.EnvironmentData_Image
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#BaseData">
            <h3 class="panel-title">@IMS.Resources.Resource.Management_BaseData </h3>
        </a>
    </div>
    <div class="panel-body collapse in" id="BaseData">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_PigChange
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Med
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_FixedCost
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Customer
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Expenses
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            @IMS.Resources.Resource.BaseData_Income
                        </h3>
                        <p><a href="@Url.Action("Index","Health",new { area="Management"})" class="btn btn-info">@IMS.Resources.Resource.Comm_Edit</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section JS{
    <script>
        
        function getFarmDataBase() {
            
            url = "@Url.Action("GetFarmDataBase")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataBaseInfo').empty();
                    //console.log(data);
                    var id = $('<p>').html('負責人:' + data.OwnerName);
                    var title = $('<p>').html('負責人地址:' + data.OwnerAddress);
                    var description = $('<p>').html('牧場名稱:' + data.FarmName);
                    var createdDate = $('<p>').html('牧場地址:' + data.FarmAddress);
                    $('#FarmDataBaseInfo').append(id).append(title).append(description).append(createdDate);

                }, error: function () {
                    $('#FarmDataBaseInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataBaseInfo').append(error);
                }

            });

        };

        function getFarmDataLand() {
            
            url = "@Url.Action("GetFarmDataLand")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataLandInfo').empty();
                    //console.log(data);
                    var LandNo = $('<p>').html('牧場土地地段:' + data.LandNo);
                    var AreaSize = $('<p>').html('土地面積:' + data.AreaSize + ' 平方公尺');
                    var LandProperty = $('<p>').html('土地產權:' + data.LandProperty);
                    //var UseType = $('<p>').html('使用區分------');
                    var UseIsCity = $('<p>').html('都市計畫土地:' + data.UseIsCity);
                    var UseNonCity = $('<p>').html('非都市計畫土地:' + data.UseNonCity);
                    var NonCityType = $('<p>').html('非都市土地用地類別:' + data.NonCityType);
                    $('#FarmDataLandInfo').append(LandNo).append(AreaSize).append(LandProperty).append(UseIsCity).append(UseNonCity).append(NonCityType);

                }, error: function () {
                    $('#FarmDataLandInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataLandInfo').append(error);
                }

            });

        };

        function getFarmDataLicense() {
            
            url = "@Url.Action("GetFarmDataLicense")?pigFarmId=" + getPigFarmId();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#FarmDataLicenseInfo').empty();
                    //console.log(data);
                    var RunType = $('<p>').html('經營型態:' + data.RunType);
                    $('#FarmDataLicenseInfo').append(RunType);

                }, error: function () {
                    $('#FarmDataLicenseInfo').empty();
                    var error = $('<p>').html('Not Found');
                    $('#FarmDataLicenseInfo').append(error);
                }

            });

        };





        getFarmDataBase();
        getFarmDataLand();
        getFarmDataLicense();
    </script>
}
