@using PagedList.Mvc;
@model PagedList.IPagedList<IMS.Models.TradeRecord>


@{
  ViewBag.Title = IMS.Resources.Resource.Model_Traceability;
}

<br />


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">交易歷史紀錄查詢</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <br />
          @*<div class="form-group">
              <label class="control-label col-sm-2" for="traceNo">@IMS.Resources.Resource.TraceNo:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="traceNo" name="traceNo" placeholder="輸入查詢編號" value="@ViewBag.traceNo">
              </div>
            </div>*@
          <div class="form-group">
            <label class="control-label col-sm-2" for="sdate">售出日期 (起):</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="sdate" name="sdate" placeholder="起" value="@ViewBag.sdate">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="edate">售出日期 (訖):</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="edate" name="edate" placeholder="起" value="@ViewBag.edate">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <p class="text-danger">@TempData["Err"]</p>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 查詢</button>
              <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> 清除</a>
            </div>
          </div>
        </form>
      </div>

      <!-- Table -->
      <table class="table table-hover table-striped table-responsive">
        <thead class="text-center">
          <tr>

            <th>
              <b>出售編號</b>
            </th>
            <th>
              <b>售價</b>
            </th>
            <th>
              <b>隻數</b>
            </th>
            <th>
              <b>平均價格</b>
            </th>
            <th>
              <b>建立日期</b>
            </th>
            <th>
              <b>建立人員</b>
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>

              <td>
                @item.CreDate.ToString("yyyyMMdd")-@item.SeqNo
              </td>
              <td>
                @Html.DisplayFor(m => item.TradePrice)
              </td>
              <td>
                @Html.DisplayFor(m => item.TradePigCnt)
              </td>
              <td>
                @Html.DisplayFor(m => item.avgPrice)
              </td>
              <td>
                @Html.DisplayFor(m => item.CreDate)
              </td>
              <td>
                @Html.DisplayFor(m => item.CreUser)
              </td>

              <td>
                <button id="ViewRecord" class="btn-info btn" onclick="showViewTrade('@item.SeqNo');">@IMS.Resources.Resource.Comm_View</button>
                @*@Html.ActionLink(IMS.Resources.Resource.Comm_Details, "Details", new { id=item.ID }, new { Class = "btn btn-info" }) |*@
                @*@Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { seqNo = item.SeqNo }, new { onclick = "return confirm('確定要刪除嗎??')", Class = "btn btn-danger" })*@
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (Model.Count() < 1)
      {
        <div class="well well-sm" style="width:100%">
          <p class="text-center text-warning">查無資料</p>
        </div>
      }


      <br />
      <div class="text-center">
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("Search",
            new { page, sdate = ViewBag.sdate, edate = ViewBag.edate }))
      </div>
    </div>
  </div>
</div>
<hr />

@{Html.RenderAction("ModalViewTrade");}

@section JS{
  <script>

  </script>

}