<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-th fa-lg"></span></a>
    <ul class="dropdown-menu">
        <li class="flex-container-wrap menu-box280">
            <span class="menu-box280-btn" onclick="location.href = '@Url.Action("Index","Main",new { area=""})';">
                <span class="fa fa-home fa-2x"></span><br />@IMS.Resources.Resource.Home
            </span>
            <span class="menu-box280-btn-blank">

            </span>
            <span class="menu-box280-btn-blank">

            </span>
            <span class="menu-box280-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="Management"})';">
                <span class="fa fa-files-o fa-2x"></span><br />@IMS.Resources.Resource.Model_Management
            </span>
            <span class="menu-box280-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="Traceability"})';">
                <span class="fa fa-id-card-o fa-2x"></span><br />@IMS.Resources.Resource.Model_Traceability
            </span>
            <span class="menu-box280-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="DataAnalysis"})';">
                <span class="fa fa-database fa-2x"></span><br />@IMS.Resources.Resource.Model_DataAnalysis
            </span>
        </li>
        @*<li class="menu-box280">
            <div class="row">
                <div class="col-xs-4">
                    <div class="menu-box-btn" onclick="location.href = '@Url.Action("Index","Main",new { area=""})';">
                        <span class="fa fa-home fa-2x"></span><br />@IMS.Resources.Resource.Home
                    </div>
                </div>               
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="menu-box-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="Management"})';">
                        <span class="fa fa-files-o fa-2x"></span><br />@IMS.Resources.Resource.Model_Management
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="menu-box-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="Traceability"})';">
                        <span class="fa fa-id-card-o fa-2x"></span><br />@IMS.Resources.Resource.Model_Traceability
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="menu-box-btn" onclick="location.href = '@Url.Action("Index","Home",new { area="DataAnalysis"})';">
                        <span class="fa fa-database fa-2x"></span><br />@IMS.Resources.Resource.Model_DataAnalysis
                    </div>
                </div>
            </div>
            
        </li>*@
    </ul>
</li>

