
@{
    Layout = null;
}

<div class="nav-side-menu" id="navMenu">
    <div class="brand">Brand Logo ##</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-home fa-lg"></i> @IMS.Resources.Resource.MenuHome
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> @IMS.Resources.Resource.MenuDashboard
                </a>
            </li>
            <li data-toggle="collapse" data-target="#pigM" class="collapsed">
                <a href="#"><i class="fa fa-paw fa-lg"></i> @IMS.Resources.Resource.PigResumeM <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="pigM">
                <li onclick="location.href='@Url.Action("Index","PigResume")'">生產履歷</li>
            </ul>

            <li data-toggle="collapse" data-target="#report" class="collapsed">
                <a href="#"><i class="fa fa-file-text-o fa-lg"></i> @IMS.Resources.Resource.MenuReport <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="report">
                <li>報表a</li>
                <li>報表b</li>
                <li>報表c</li>
            </ul>

            <li data-toggle="collapse" data-target="#MenuStock" class="collapsed">
                <a href="#"><i class="fa fa-inbox fa-lg"></i> @IMS.Resources.Resource.MenuStock <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="MenuStock">
                <li>項目設定</li>
            </ul>

            <li data-toggle="collapse" data-target="#MenuSys" class="collapsed">
                <a href="#"><i class="fa fa-gear fa-lg"></i> @IMS.Resources.Resource.MenuSys <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="MenuSys">
                <li>場內消息</li>
                <li>系統設定</li>
            </ul>
        </ul>
    </div>
</div>
