
@{
    ViewBag.Title = IMS.Resources.Resource.MenuSys;
}
<br />
<ol class="breadcrumb">
  <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">@IMS.Resources.Resource.MenuHome</a></li>
  <li class="active">@IMS.Resources.Resource.MenuSys</li>
</ol>


<h2>@IMS.Resources.Resource.MenuSys</h2>

<div class="list-group">
    <a class="list-group-item" href="@Url.Action("Index","PigFarm",new { area="Sys"})">@IMS.Resources.Resource.PigFarmMgr</a>
    <a class="list-group-item" href="@Url.Action("Index","Category",new { area="Sys"})">@IMS.Resources.Resource.CategoryMgr</a>
    <a class="list-group-item" href="@Url.Action("Index","CategorySub",new { area="Sys"})">@IMS.Resources.Resource.CategorySubMgr</a>
    <a class="list-group-item" href="@Url.Action("Index","AccountLevel",new { area="Sys"})">@IMS.Resources.Resource.AccountLevelMgr</a>
    <a class="list-group-item" href="@Url.Action("Index","Account",new { area="Sys"})">@IMS.Resources.Resource.AccountMgr</a>
</div>