
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row" style="margin-top:32px;">
    <div class="col-md-4 col-md-offset-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>@IMS.Resources.Resource.SysTitle</h3>
                <form method="post" action="@Url.Action("Login")">
                    @Html.AntiForgeryToken()
                    <p class="form-group">
                        <label for="account">@IMS.Resources.Resource.Account</label>
                        <input type="text" class="form-control" id="account" name="account">
                    </p>
                    <p class="form-group">
                        <label for="password">@IMS.Resources.Resource.Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </p>
                    <p class="form-group">
                        <label for="langSelect">@IMS.Resources.Resource.LangSys</label>
                        <select class="form-control" id="i18n">
                            <option value="zh-TW">繁體中文</option>
                            <option value="en-US">English</option>
                        </select>
                        @ViewBag.langSys
                    </p>
                    <p class="form-group">
                        <label>
                            <input type="checkbox" id="login_remember" class="ace" name="remember" value="1" />
                            <span class="lbl">@IMS.Resources.Resource.Login_RemeberMe</span>
                        </label>
                    </p>
                    <p class="text-danger">@ViewBag.Msg</p>
                    
                    <p>
                        <input type="submit" class="btn btn-primary" value=@IMS.Resources.Resource.Login />
                        <input type="button" class="btn btn-default" value=@IMS.Resources.Resource.Cancel onclick="location.href='@Url.Action("Index")'" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function doIt(item, baseUrl) {
        window.location.href = baseUrl + '?lang=' + item.value;
    }
</script>
