@model IMS.ViewModels.TraceVM


@{
    ViewBag.Title = IMS.Resources.Resource.Comm_Add + " "+ IMS.Resources.Resource.TraceNo +"-" + Model.traceMaster.TraceNo;
}

<style>
    .underline-b {
        border: 0;
        border-bottom: 3px solid #eee;
        border-bottom-color: cornflowerblue;
        letter-spacing: 4px;
    }

    .underline-a {
        border: 0;
        border-bottom: 2px solid #eee;
        border-bottom-color: gray;
    }
</style>


<h3 class="">@IMS.Resources.Resource.TraceNo - @Model.traceMaster.TraceNo</h3>
<div class="row">
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-files-o"></span> 履歷資訊 >
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> 詳細履歷資訊 >
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> @IMS.Resources.Resource.TraceInfo >
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> @IMS.Resources.Resource.TraceInfoDetail >
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> @IMS.Resources.Resource.TraceProduce >
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron text-center">
            <a href="" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> @IMS.Resources.Resource.TraceProcess >
            </a>
        </div>
    </div>
</div>
<div class="text-center">
    <h3 class="underline-b"><b>@IMS.Resources.Resource.TraceInfo</b></h3>
    
</div>

<div class="text-center">
    <h3 class="underline-b"><b>@IMS.Resources.Resource.TraceInfoDetail</b></h3>

</div>

<div class="text-center">
    <h3 class="underline-b"><b>@IMS.Resources.Resource.TraceProduce</b></h3>

</div>

<div class="text-center">
    <h3 class="underline-b"><b>@IMS.Resources.Resource.TraceProcess</b></h3>

</div>
