
@{
  ViewBag.Title = IMS.Resources.Resource.Model_Traceability;
}

<br />

<ol class="breadcrumb">
  <li class=""><a href="@Url.Action("Index","Home")">@IMS.Resources.Resource.Model_Traceability</a></li>
</ol>

<div class="row">
  <div class="col-sm-4">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Index","PigBasic")" class="btn btn-lg btn-link">
        <span class="fa fa-files-o"></span> @IMS.Resources.Resource.PigPM >
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Index","PigletGrow")" class="btn btn-lg btn-link">
        <span class="fa fa-database"></span> @IMS.Resources.Resource.TracePM >
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Index","Trade")" class="btn btn-lg btn-link">
        <span class="fa fa-database"></span> @IMS.Resources.Resource.TradePM >
      </a>
    </div>
  </div>
</div>

@section JS{
  <script>

  </script>

}
