
@{
    ViewBag.Title = IMS.Resources.Resource.Model_Traceability;
}

<br />
@*<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span class="glyphicon glyphicon-search"></span> 查詢生產履歷 
        </h4>
    </div>
    <div class="panel-body">
    </div>
</div>*@
<form class="form-horizontal  alert alert-success" >
    <br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">生產履歷編號:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="輸入查詢編號">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">品項名稱:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pwd" placeholder="輸入查詢名稱">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 查詢</button>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> 清除</button>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 新增</button>
        </div>
    </div>
</form>

<hr />


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">查詢結果</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <b>#</b>
                </th>
                <th>
                    <b>生產履歷編號</b>
                </th>
                <th>
                    <b>品項名稱</b>
                </th>
                <th>
                    <b>建立日期</b>
                </th>
            </tr>
        </thead>
        <tbody >

        </tbody>
    </table>
</div>

<div class="row">
    
    <div class="col-sm-12">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    現有 @IMS.Resources.Resource.WorkProcess 
                    <small>最新10筆</small>
                    <span class="pull-right">
                        <a href="@Url.Action("Index","WorkBasic")" class="btn btn-default">
                            <span class="glyphicon glyphicon-cog"></span> @IMS.Resources.Resource.WorkBasicMgr
                        </a>
                    </span>
                </h2>
                <br />
                
            </div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <b>#</b>
                            </th>
                            <th>
                                <b>作業編號</b>
                            </th>
                            <th>
                                <b>作業種類</b>
                            </th>
                            <th>
                                <b>作業內容</b>
                            </th>

                        </tr>
                    </thead>
                    <tbody id="worklist">

                    </tbody>
                    <tfoot id="worklistfoot">

                    </tfoot>
                </table>




                @*<p>
            <a href="@Url.Action("Index","Health",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Health</a>
        </p>
        <p>
            <a href="@Url.Action("Index","Environment",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Environment</a>
        </p>
        <p>
            <a href="@Url.Action("Index","Med",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Med</a>
        </p>
        <p>
            <a href="@Url.Action("Index","FeedAndAdditive",new { area="Traceability"})">@IMS.Resources.Resource.Produce_FeedAndAdditive</a>
        </p>
        <p>
            <a href="@Url.Action("Index","FeedingAndBatch",new { area="Traceability"})">@IMS.Resources.Resource.Produce_FeedingAndBatch</a>
        </p>
        <hr />
        <p>
            <a href="@Url.Action("Index","Butcher",new { area="Traceability"})">@IMS.Resources.Resource.Process_Butcher</a>
        </p>
        <p>
            <a href="@Url.Action("Index","BigCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_BigCut</a>
        </p>
        <p>
            <a href="@Url.Action("Index","SmallCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_SmallCut</a>
        </p>
        <p>
            <a href="@Url.Action("Index","Package",new { area="Traceability"})">@IMS.Resources.Resource.Process_Package</a>
        </p>*@
            </div>
        </div>
    </div>
    @*<div class="col-sm-6">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Traceability_Process </h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Butcher",new { area="Traceability"})">@IMS.Resources.Resource.Process_Butcher</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","BigCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_BigCut</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","SmallCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_SmallCut</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Traceability"})">@IMS.Resources.Resource.Process_Package</a>
                </p>

            </div>
        </div>
    </div>*@
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron text-center">
            <a href="@Url.Action("Index","Home",new { area="Management"})" class="btn btn-lg btn-link">
                <span class="fa fa-files-o"></span> @IMS.Resources.Resource.Model_Management >
            </a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron text-center">
            <a href="@Url.Action("Index","Home",new { area="DataAnalysis"})" class="btn btn-lg btn-link">
                <span class="fa fa-database"></span> @IMS.Resources.Resource.Model_DataAnalysis >
            </a>
        </div>
    </div>
</div>

@section JS{
    <script>
        function getWorkList() {

            url = "@Url.Action("GetWorkList")";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#worklist').empty();
                    console.log(data);
                    $.each(data, function (index, item) {
                        if (index >= 10) {
                            return false;
                        }
                        var tr = $('<tr>').html('<td>' + (index+1) + '</td>'
                            + '<td>' + item.WorkCode + '</td>'
                            + '<td>' + item.WorkType + '</td>'
                            + '<td>' + item.WorkContent + '</td>');
                        $('#worklist').append(tr);
                    });
                    
     
                }, error: function () {
                    $('#worklist').empty();
                    var error = $('<p>').html('Not Found');
                    $('#worklist').append(error);
                }

            });

        };

        getWorkList();
    </script>
    
    
    
    }