
@{
    ViewBag.Title = IMS.Resources.Resource.Model_Traceability;
}

<div class="row">
    <div class="col-sm-6">
        <br />
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Traceability_Produce</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Health",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Health</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Environment",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Environment</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Med",new { area="Traceability"})">@IMS.Resources.Resource.Produce_Med</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","FeedAndAdditive",new { area="Traceability"})">@IMS.Resources.Resource.Produce_FeedAndAdditive</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","FeedingAndBatch",new { area="Traceability"})">@IMS.Resources.Resource.Produce_FeedingAndBatch</a>
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@IMS.Resources.Resource.Traceability_Process </h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Index","Butcher",new { area="Traceability"})">@IMS.Resources.Resource.Process_Butcher</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","BigCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_BigCut</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","SmallCut",new { area="Traceability"})">@IMS.Resources.Resource.Process_SmallCut</a>
                </p>
                <p>
                    <a href="@Url.Action("Index","Package",new { area="Traceability"})">@IMS.Resources.Resource.Process_Package</a>
                </p>
                
            </div>
        </div>
    </div>
</div>

