

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @IMS.Resources.Resource.SysTitle</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/Content/css")
    @RenderSection("CSS", required: false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{
        string appName = @IMS.Resources.Resource.SysTitle;
    }

    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    @Html.ActionLink(appName, "Index", "main", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="top_menu">
                        <li>
                            <a href="@Url.Action("Index","Main",new { area="Dashboard"})">
                                <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i>
                                @IMS.Resources.Resource.MenuDashboard
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                @IMS.Resources.Resource.MenuSys <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Category",new { area="Sys"})">@IMS.Resources.Resource.CategoryMgr</a></li>
                                <li><a href="@Url.Action("Index","Account",new { area="Sys"})">@IMS.Resources.Resource.AccountMgr</a></li>
                                <li><a href="@Url.Action("Index","AccountLevel",new { area="Sys"})">@IMS.Resources.Resource.AccountLevelMgr</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("ShowPaper","Main",new { area=""})">
                                <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
                                ShowPaper
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @{Html.RenderAction("BoxMenu", "Main", new { area = "" });}
                        @{Html.RenderAction("UserInfo", "Main", new { area = "" });}
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <section class="container" id="bodyContent">
        @RenderBody()
    </section>

    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - @IMS.Resources.Resource.SysTitle Create by @IMS.Resources.Resource.Creater</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery_setting")

    @RenderSection("JS", required: false)
</body>
</html>