

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @IMS.Resources.Resource.SysTitle</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/Content/css")
    @RenderSection("CSS", required: false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{
        string appName = @IMS.Resources.Resource.SysTitle;
    }

    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    @Html.ActionLink(appName, "Index", "main", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="top_menu">
                        <li>
                            <a href="@Url.Action("Index","Main",new { area="Dashboard"})">
                                <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i>
                                @IMS.Resources.Resource.MenuDashboard
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                @IMS.Resources.Resource.MenuSys <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","PigFarm",new { area="Sys"})">@IMS.Resources.Resource.PigFarmMgr</a></li>
                                <li><a href="@Url.Action("Index","Category",new { area="Sys"})">@IMS.Resources.Resource.CategoryMgr</a></li>
                                <li><a href="@Url.Action("Index","CategorySub",new { area="Sys"})">@IMS.Resources.Resource.CategorySubMgr</a></li>
                                <li><a href="@Url.Action("Index","AccountLevel",new { area="Sys"})">@IMS.Resources.Resource.AccountLevelMgr</a></li>
                                <li><a href="@Url.Action("Index","Account",new { area="Sys"})">@IMS.Resources.Resource.AccountMgr</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("ShowPaper","Main",new { area=""})">
                                <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
                                ShowPaper
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick='showIntro("儲存成功");'>

                                測試IntroModal
                            </a>
                        </li>
                        @*<li>
                            <a href="#" onclick='showConfirm("是否要確認?");'>

                                測試ConfirmModal
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick='showDelete("確定要刪除嗎?");'>

                                測試DeleteModal
                            </a>
                        </li>*@

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @{Html.RenderAction("BoxMenu", "Main", new { area = "" });}
                        @{Html.RenderAction("UserInfo", "Main", new { area = "" });}
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <section class="container" id="bodyContent">
        @{Html.RenderAction("MapSite", "Main", new { area = "" });}
        @RenderBody()
    </section>

    <hr />
    <footer class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; @DateTime.Now.Year - @IMS.Resources.Resource.SysTitle Create by @IMS.Resources.Resource.Creater</p>
            </div>
            <div class="col-sm-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="langSelect">@IMS.Resources.Resource.LangSys :</label>
                        <select class="form-control" id="i18n" style="width:280px;">
                            <option value="zh-TW">繁體中文</option>
                            <option value="en-US">English</option>
                        </select>                     
                    </div>
                </form>
            </div>
        </div>
        
    </footer>


    <!-- confirm Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_confirm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p><span id="confirmMsg">One fine body&hellip;</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確認</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- delete Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p><span id="deleteMsg">One fine body&hellip;</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">刪除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- intro Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_intro">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">系統訊息</h4>
                </div>
                <div class="modal-body">
                    <p><span id="introMsg">系統訊息&hellip;</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery_setting")
    <script>
        function showConfirm(Msg) {
            $('#confirmMsg').text(Msg);
            $('#modal_confirm').modal('show');
        }
        function showDelete(Msg) {
            $('#deleteMsg').text(Msg);
            $('#modal_delete').modal('show');
        }
        function showIntro(Msg) {
            $('#introMsg').text(Msg);
            $('#modal_intro').modal('show');
        }
    </script>

    @RenderSection("JS", required: false)

</body>
</html>