@{
    ViewBag.SubSysName = "養豬產業";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @IMS.Resources.Resource.SysTitle</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrapCustom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        function f_navMenu_toggle() {
            if ($('#leftMenu').is(":visible")) {
                $('#leftMenu').hide();
                $('#bodyContent').css("margin-left", "0px");
            } else {
                $('#leftMenu').show();
                $('#bodyContent').css("margin-left", "220px");
            }
        }

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{
                    string appName = @IMS.Resources.Resource.SysTitle + "-" + @ViewBag.SubSysName;
                }

                @Html.ActionLink(appName, "Index", "main", new { area = "" }, new { @class = "navbar-brand" })
                @*<button class="btn btn-default" style="margin-top:8px" onclick="f_navMenu_toggle()">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <lable>
                            顯示/隱藏 選單
                        </lable>
                    </button>*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">@IMS.Resources.Resource.MenuDashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@IMS.Resources.Resource.BaseSheet <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","SheetDisinfection")">@IMS.Resources.Resource.SheetDisinfection</a></li>
                            <li><a href="#">猪隻治療及治療後流向紀錄表</a></li>
                            <li><a href="#">整場購買藥品紀錄表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">猪隻生產履歷紀錄表</a></li>
                            <li><a href="#">屠宰場產銷履歷猪隻進貨明細表</a></li>
                            <li><a href="#">作業場與屠體各部位溫度紀錄表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">小分切場（廠）產銷履歷猪肉進貨明細表</a></li>
                            <li><a href="#">作業場溫度紀錄表</a></li>
                        </ul>
                    </li>
                    <li><a href="#">@IMS.Resources.Resource.MenuSys</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @IMS.Resources.Resource.Welcome
                            ,aaa
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@IMS.Resources.Resource.UserSetting</a></li>
                            <li><a href="#">@IMS.Resources.Resource.ChangePassword</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logout","Main")">@IMS.Resources.Resource.Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>


    @*<div id="leftMenu">
            @{Html.RenderAction("NavMenu", "Main", new { area = "" });}
        </div>*@

    <div class="body-content container" id="bodyContent">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @IMS.Resources.Resource.SysTitle Create by @IMS.Resources.Resource.Creater</p>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.zh-TW.min.js"></script>
    <script src="~/Scripts/select2/select2.min.js"></script>
</body>
</html>