@model IEnumerable<IMS.Models.SheetDisinfection>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class=""><a href="@Url.Action("Index","Main")">首頁</a></li>
    <li class="">@IMS.Resources.Resource.BaseSheet</li>
    <li class="active"><a href="@Url.Action("Index")">@IMS.Resources.Resource.SheetDisinfection</a></li>
</ol>

<h2>@IMS.Resources.Resource.SheetDisinfection</h2>

<p>
    @Html.ActionLink("新增", "Create", "", new { Class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExcuteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseDose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExcuteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseDose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>       
        <td>
            @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "Edit", new { id=item.ID }, new { Class = "btn btn-success" }) |
            @*@Html.ActionLink(IMS.Resources.Resource.Comm_Details, "Details", new { id=item.ID }, new { Class = "btn btn-info" }) |*@
            @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id=item.ID }, new { Class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
