@model IEnumerable<IMS.Models.AccountLevel>

@{
    ViewBag.Title = IMS.Resources.Resource.AccountLevelMgr;
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="pull-right">
            @Html.ActionLink(IMS.Resources.Resource.Comm_Add, "Create", "", new { Class = "btn btn-primary" })
        </div>
        <h4>@IMS.Resources.Resource.AccountLevelMgr</h4>

    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="control-label">條件一</label>
                <input class="form-control" id="" name="" value="">
            </div>
            <div class="col-sm-2">
                <label class="control-label">條件二</label>
                <input class="form-control" id="" name="" value="">
            </div>
            <div class="col-sm-2 ">
                <br />
                @*<input type="button" class="btn btn-success" id="btn_Search" value="@IMS.Resources.Resource.Comm_Search" />*@
                @Html.ActionLink(IMS.Resources.Resource.Comm_Search, "Search", "", new { Class = "btn btn-success" })
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelName)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>

                <td>
                    @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "Edit", new { id = item.Id }, new { Class = "btn btn-success" }) |
                    @*@Html.ActionLink(IMS.Resources.Resource.Comm_Details, "Details", new { id=item.ID }, new { Class = "btn btn-info" }) |*@
                    @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id = item.Id }, new { Class = "btn btn-danger" })
                </td>
            </tr>
        }


    </table>

    @if (Model.Count() < 1)
    {
        <div class="well well-sm" style="width:100%">
            <p class="text-center text-warning">查無資料</p>
        </div>
    }
</div>

