@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IMS.Models.SheetDisinfection>

@{
    ViewBag.Title = @IMS.Resources.Resource.SheetDisinfection;
}

<ol class="breadcrumb">
    <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">首頁</a></li>
    <li class="">@IMS.Resources.Resource.BaseSheet</li>
    <li class="active"><a href="@Url.Action("Index")">@IMS.Resources.Resource.SheetDisinfection</a></li>
</ol>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="pull-right">
            @Html.ActionLink(IMS.Resources.Resource.Comm_Add, "Create", "", new { Class = "btn btn-primary" })
        </div>
        <h4>@IMS.Resources.Resource.SheetDisinfection</h4>

    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="control-label">條件一</label>
                <input class="form-control" id="" name="" value="">
            </div>
            <div class="col-sm-2">
                <label class="control-label">條件二</label>
                <input class="form-control" id="" name="" value="">
            </div>
            <div class="col-sm-2 ">
                <br />
                @*<input type="button" class="btn btn-success" id="btn_Search" value="@IMS.Resources.Resource.Comm_Search" />*@
                @Html.ActionLink(IMS.Resources.Resource.Comm_Search, "Search", "", new { Class = "btn btn-success" })
                @Html.ActionLink(IMS.Resources.Resource.Comm_Print, "Print", "", new { Class = "btn btn-info" })
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExcuteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseDose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcuteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseDose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "Edit", new { id = item.ID }, new { Class = "btn btn-success" }) |
                    @*@Html.ActionLink(IMS.Resources.Resource.Comm_Details, "Details", new { id=item.ID }, new { Class = "btn btn-info" }) |*@
                    @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id = item.ID }, new { Class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>

