
@{
    ViewBag.Title = IMS.Resources.Resource.Traceability_Produce;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@IMS.Resources.Resource.Traceability_Produce</h2>
<hr />
<div class="row">
    <div class="col-sm-2">
        <br />
        @Html.ActionLink(IMS.Resources.Resource.Produce_Health, "Index", "", new { @class = "btn btn-info btn-block" })            
    </div>
    <div class="col-sm-2">
        <br />
        @Html.ActionLink(IMS.Resources.Resource.Produce_Environment, "Index", "", new { @class = "btn btn-info btn-block" })
    </div>
    <div class="col-sm-2">
        <br />
        @Html.ActionLink(IMS.Resources.Resource.Produce_Med, "Index", "", new { @class = "btn btn-info btn-block" })
    </div>
    <div class="col-sm-2">
        <br />
        @Html.ActionLink(IMS.Resources.Resource.Produce_FeedAndAdditive, "Index", "", new { @class = "btn btn-info btn-block" })
    </div>
    <div class="col-sm-2">
        <br />
        @Html.ActionLink(IMS.Resources.Resource.Produce_FeedingAndBatch, "Index", "", new { @class = "btn btn-info btn-block" })
    </div>
</div>
