
@model IEnumerable<IMS.Models.FarrowingRecord>

@using (Ajax.BeginForm("_FarrowingRecord", new { pigGid = ViewBag.PigGid }, new AjaxOptions { UpdateTargetId = "farrowing-tool", HttpMethod = "Post",
  OnSuccess = "setDatepicker();" }))
{

  <div id="farrowing-tool">
    <table class="table table-bordered bg-info">
      <thead>
        <tr>
          <th rowspan="2" width="120px;">@IMS.Resources.Resource.BreedingDate</th>
          <th rowspan="2">@IMS.Resources.Resource.BoarNo</th>
          <th colspan="4">生產</th>
          <th colspan="3">離乳</th>
          <th rowspan="2" >@IMS.Resources.Resource.Memo</th>
        </tr>
        <tr>
          <th width="120px;">@IMS.Resources.Resource.FarrowingDate</th>
          <th width="80px;">@IMS.Resources.Resource.BornCnt</th>
          <th width="80px;">@IMS.Resources.Resource.BornAliveCnt</th>
          <th width="80px;">@IMS.Resources.Resource.BornDeadCnt</th>
          <th width="80px;">@IMS.Resources.Resource.WeaningCnt</th>
          <th width="120px;">@IMS.Resources.Resource.WeaningDate</th>
          <th width="80px;">@IMS.Resources.Resource.WeaningAge</th>

        </tr>
      </thead>
      <tbody>

        @foreach (var item in Model)
        {

          <tr class="text-center" id="@item.GID">
            <td name="BreedingDate">
              @item.BreedingDate.ToString("yyyy-MM-dd")
            </td>
            <td name="BoarNo">
              @item.BoarNo
            </td>
            <td name="FarrowingDate">
              @(item.FarrowingDate.HasValue ? item.FarrowingDate.Value.ToString("yyyy-MM-dd") : string.Empty)
            </td>
            <td name="BornCnt">
              @item.BornCnt
            </td>
            <td name="BornAliveCnt">
              @item.BornAliveCnt
            </td>
            <td name="BornDeadCnt">
              @item.BornDeadCnt
            </td>
            <td name="WeaningCnt">
              @item.WeaningCnt
            </td>
            <td name="WeaningDate">
              @(item.WeaningDate.HasValue ? item.WeaningDate.Value.ToString("yyyy-MM-dd") : string.Empty)
            </td>
            <td name="WeaningAge">
              @item.WeaningAge
            </td>
            <td name="Memo">
              @item.Memo
            </td>
            <td>
              
              @*<button type="button" class="btn btn-danger"  onclick = "return confirm('確定要刪除嗎??')">
                    <li class="fa fa-remove"></li>
                </button>*@
                <button type="button" class="btn-link btnEdit btn" id="btnEdit" style="padding:0 4px 0 4px;" onclick="editMod(this)">
                  <li class="fa fa-pencil-square-o"></li>
                </button>
                <button type="button" class="btn-link btnSave btn" id="btnSave" style="padding:0 4px 0 4px;" onclick="noteditMod(this)">
                  <li class="fa fa-floppy-o"></li>
                </button>
              <a href="@Url.Action("DeleteRecord", new { farrowingRecordGid = item.GID, pigGid = ViewBag.PigGid })" class=" btn-link " style="padding:0 4px 0 4px;" onclick="return confirm('確定要刪除嗎??')"><li class="fa fa-remove"></li></a>

              @*<button type="submit" class="btn btn-danger" onclick="return confirm('確定要刪除嗎??')"><li class="fa fa-remove"></li></button>*@
            </td>
          </tr>

        }

        <tr>
          @Html.Action("_CreateAFarrowing", new { pigGid = ViewBag.PigGid })
          
        </tr>
      </tbody>
    </table>

  </div>

}