@model IMS.Models.Photo

@{
    ViewBag.Title = IMS.Resources.Resource.Comm_Details;
}

<div class="page-header">
    <h1>『@Model.Title 』 <small>@Model.Description</small></h1>
</div>



    <img src="@Url.Action("GetImage","Photo",new { id = Model.Id })" class="img-responsive img-rounded" />

    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.PostName):
        @Html.DisplayFor(model => model.PostName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.PostDate):
        @Html.DisplayFor(model => model.PostDate)
    </p>

@* 7.4 加入@Html.Action***************************************************** *@
@*@Html.Action("_CommentsForPhoto", "Comments", new { PhotoID = Model.PhotoID })*@


<p>
    @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id = Model.Id }, new { onclick = "return confirm('確定要刪除嗎??')", Class = "btn btn-danger" }) 
    @Html.ActionLink(IMS.Resources.Resource.Comm_BackToList, "Index", new {  pigFarmId = Model.PigFarmId  }, new { Class = "btn btn-default" })
</p>