
@{
    ViewBag.Title = IMS.Resources.Resource.EnvironmentData_Image;

    string CurrentFilter = ViewBag.CurrentFilter;
    int CurrentPage = ViewBag.CurrentPage;

       
}

<div>

    @*Menu:@Html.MvcSiteMap().Menu(false, false, true)
        Current:@Html.MvcSiteMap().SiteMapPath()*@

    @using (Html.BeginForm())
    {
        <div class="row form-group">
            <div class="col-sm-6">
                <h1>
                    @IMS.Resources.Resource.EnvironmentData_Image
                    <small>
                        <input type="hidden" name="currentPage" value="1" id="currentPage" />
                        @Html.ActionLink("新增照片", "Create", new { pigFarmId = ViewBag.PigFarmId }, new { Class = "btn btn-primary" })
                    </small>
                </h1>
            </div>
            <div class="col-sm-6">
                <br />
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> @IMS.Resources.Resource.Comm_Search</button>
                    </div>
                    <div class="pull-right">
                        <input class="form-control" id="SearchString" name="SearchString" value="@ViewBag.CurrentFilter" placeholder="Search">
                    </div>
                </div>
                <br />
            </div>
        </div>

    }

    @Html.Action("_PhotoGallery", "Photo", new { pigFarmId = ViewBag.PigFarmId, searchString = CurrentFilter, currentPage = CurrentPage })  @*這一行是PartialView*@

    <hr />
    @Html.ActionLink("回到豬場管理頁", "Index", "Home", new { area = "Management" }, new { Class = "btn btn-default" })
</div>


@*@section JS{
        <script>
            $('#SearchString').keypress(function (e) {
                if (e.which == 13) {
                    dofilter($(this).val());
                    //alert('aaa');
                    return false;    //<---- Add this line
                }
            });


            function dofilter(val) {
                alert(val);
            }

        </script>
    }*@