@model IEnumerable<IMS.Models.TraceDetail>
@using (Ajax.BeginForm("_TraceDetails", new { traceNo = ViewBag.TraceNo }, new AjaxOptions { UpdateTargetId = "traceDetail-tool", HttpMethod = "Post",OnSuccess= "init();" }))
{
  <div id="traceDetail-tool">
    <div class="row">

      <div class="col-md-8">
        @Html.Action("_CreateTraceDetail", new { traceNo = ViewBag.TraceNo })

      </div>
      <div class="col-md-4">
        <h3>詳細資料</h3>
        <h4>
          目前日齡:156 天
        </h4>
        <h4>
          目前豬舍:保育舍
        </h4>
        <h4>
          總飼料量:46kg
        </h4>
      </div>
    </div>

    <h4>
      <b>
        作業紀錄
      </b>

      <div class="pull-right">
        <label class="checkbox-inline bg-warning myCheckBox"><input type="checkbox" value="" id="ckb-warning" checked>飼料</label>
        <label class="checkbox-inline bg-success myCheckBox"><input type="checkbox" value="" id="ckb-success" checked>投藥</label>
        <label class="checkbox-inline bg-danger myCheckBox"><input type="checkbox" value="" id="ckb-danger" checked>疫苗</label>
        <label class="checkbox-inline bg-info myCheckBox"><input type="checkbox" value="" id="ckb-info" checked>其他</label>
      </div>
    </h4>
    <hr class="underline-b" />

    <div class="row">
      @foreach (var item in Model)
      {
        string cssClass = "panel-info";
        if (item.WorkType == "飼料")
        {
          cssClass = "panel-warning";
        }
        else if (item.WorkType == "出生")
        {
          cssClass = "panel-default";
        }
        else if (item.WorkType == "投藥")
        {
          cssClass = "panel-success";
        }
        else if (item.WorkType == "疫苗")
        {
          cssClass = "panel-danger";
        }
        else if (item.WorkType == "生產出貨")
        {
          cssClass = "panel-primary";
        }

        @*7.3 在/Shared/_CommentsForPhoto.cshtml加入IEnumerable<T>及foreach (var item in Model){}*@
        <div class="col-md-4 col-sm-6">
          <div class="panel @cssClass">
            <div class="panel-heading clearfix">
              <div class="panel-title pull-left panel-tool">
                <h4>@item.WorkType <span>@item.WorkDate.ToString("yyyy/MM/dd") @if (item.WorkDate_end.HasValue) { <span>-</span> @item.WorkDate_end.Value.ToString("yyyy/MM/dd") }</span></h4>
              </div>
              <div class="btn-group pull-right">
                @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "DeleteTraceDetail", new { seqNo = item.SeqNo }, new { @class = "btn btn-default", onclick = "return confirm('您確定要刪除嗎??')" })

              </div>
            </div>
            <div class="panel-body" style="min-height:120px;">
              @Html.LabelFor(model => model.FirstOrDefault().WorkContent, htmlAttributes: new { @class = "control-label" })
              <span>:@item.WorkContent</span>

              @if (item.WorkMemo != null)
              {
                <br />
                @Html.LabelFor(model => model.FirstOrDefault().WorkMemo, htmlAttributes: new { @class = "control-label" })
                <span>:@item.WorkMemo</span>
              }

              @if (item.FeedValue != null)
              {
                <br />
                @Html.LabelFor(model => model.FirstOrDefault().FeedValue, htmlAttributes: new { @class = "control-label" })
                <span>:@item.FeedValue kg</span>
              }
            </div>

            @*//7-8-2 在_CommentsForPhoto.cshtml加入Delete連結*@
            @*<div class="panel-footer">
                  @Html.ActionLink(IMS.Resources.Resource.Comm_Delete, "Delete", new { id = item.SeqNo }, new { @class = "btn btn-warning", onclick = "return confirm('您確定要刪除嗎??')" })
              </div>*@
          </div>
        </div>
      }

    </div>
  </div>
}
