@model IMS.Models.TraceMaster

@{
  ViewBag.Title = IMS.Resources.Resource.TracePM + Model.TraceNo;
  IMS.DAL.IMSDBContext IMSdb = new IMS.DAL.IMSDBContext();
  DateTime bornDate = Model.BornDate;
  DateTime bornDate_end = Model.BornDate_end;
  var daysAge = (DateTime.Today - bornDate).TotalDays;
  var daysAge_end = (DateTime.Today - bornDate_end).TotalDays;

  int pigChangeCnt = 0;
  if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoPigChange").Any())
  {
    pigChangeCnt = IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoPigChange").Sum(m => m.PigChangeCnt);
  }

  int pigCnt = IMSdb.TraceMaster.Where(m => m.TraceNo == Model.TraceNo).Select(m => m.PigCnt).FirstOrDefault();
  int totalPigCnt = pigCnt + pigChangeCnt;

  bool isOnSale = false;
  if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoneStageLast").Any())
  {
    isOnSale = true;
  }

  bool stage1flag = false, stage2flag = false, stage3flag = false, stageLastflag = false;
  if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoneStage1").Any())
  {
    if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoneStage2").Any())
    {
      if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "DoneStage3").Any())
      {
        stageLastflag = true;
        stage3flag = true;
        stage2flag = true;
        stage1flag = true;
      }
      else
      {
        stage3flag = true;
        stage2flag = true;
        stage1flag = true;
      }
    }
    else
    {
      stage2flag = true;
      stage1flag = true;
    }

  }
  else
  {
    stage1flag = true;
  }

}


<h2>
  <b>@IMS.Resources.Resource.TraceNo</b>
  <small>
    @Model.TraceNo
    @if (isOnSale)
    {
      <span class="label label-success">待出售</span>
    }

  </small>
  <span class="pull-right">
    @*<button id="slide_TopArea" class=" btn btn-default btn-circle">收合</button>*@
    @Html.ActionLink(IMS.Resources.Resource.Comm_BackToList, "Index", new { pigFarmId = Model.PigFarmId }, new { Class = "btn btn-default" })
  </span>
</h2>

<h5>


  <label>
    出生豬隻數量:
  </label>
  @{
    <span>@pigCnt 隻</span>
  }
  &nbsp;&nbsp;
  <label>出生日期:</label>
  @{

    <span>@bornDate.ToString("yyyy/MM/dd") - @bornDate_end.ToString("yyyy/MM/dd")</span>

  }
</h5>
<h5>
  <label>
    目前豬隻數量:
  </label>

    <span id="span_nowPigCnt"></span>
    <span>隻 </span>


  &nbsp;&nbsp;
  <label>目前日齡:</label>
  @{

    <span>@daysAge 天 - @daysAge_end 天</span>

  }
</h5>

<ul class="nav nav-tabs" role="tablist">
  @if (stage1flag)
  {
    <li role="presentation" class="active"><a href="#stage1" aria-controls="stage1" role="tab" data-toggle="tab">@IMS.Resources.Resource.Stage1</a></li>
  }
  else
  {
    <li role="presentation" class="active disabled"><a href="#stage1" aria-controls="stage1" role="tab">@IMS.Resources.Resource.Stage1</a></li>
  }

  @if (stage2flag)
  {
    <li role="presentation"><a href="#stage2" aria-controls="stage2" role="tab" data-toggle="tab">@IMS.Resources.Resource.Stage2</a></li>
  }
  else
  {
    <li role="presentation" class="disabled"><a href="#stage2" aria-controls="stage2" role="tab" >@IMS.Resources.Resource.Stage2</a></li>
  }

  @if (stage3flag)
  {
    <li role="presentation"><a href="#stage3" aria-controls="stage3" role="tab" data-toggle="tab">@IMS.Resources.Resource.Stage3</a></li>
  }
  else
  {
    <li role="presentation" class="disabled"><a href="#stage3" aria-controls="stage3" role="tab" >@IMS.Resources.Resource.Stage3</a></li>
  }

  @if (stageLastflag)
  {
    <li role="presentation"><a href="#stageLast" aria-controls="stageLast" role="tab" data-toggle="tab">@IMS.Resources.Resource.StageLast</a></li>
  }
  else
  {
    <li role="presentation" class="disabled"><a href="#stageLast" aria-controls="stageLast" role="tab">@IMS.Resources.Resource.StageLast</a></li>
  }
  
  
  
</ul>
<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="stage1">
    @Html.Action("_TraceDetails", new { traceNo = Model.TraceNo })
  </div>
  <div role="tabpanel" class="tab-pane" id="stage2">
    @Html.Action("_TraceDetailsStage2", new { traceNo = Model.TraceNo })
  </div>
  <div role="tabpanel" class="tab-pane" id="stage3">
    @Html.Action("_TraceDetailsStage3", new { traceNo = Model.TraceNo })
  </div>
  <div role="tabpanel" class="tab-pane" id="stageLast">
    @Html.Action("_TraceDetailsStageLast", new { traceNo = Model.TraceNo })
  </div>
</div>



@section JS{
  <script>
    function ajax_refreshPigCnt() {
      var url = "@Url.Action("RefreshPigCnt")?traceNo=" + "@Model.TraceNo" ;      
      return $.ajax({
          type: "GET",
          url: url,
          success: function (data) {
            console.log(data);
            $('#span_nowPigCnt').text(data);
          }
        });
    }

    function ajax_whichStage() {
      var url = "@Url.Action("WhichStage")?traceNo=" + "@Model.TraceNo" ;      
      return $.ajax({
          type: "GET",
          url: url,
          success: function (data) {
            console.log(data);
            $('#span_nowPigCnt').text(data);
          }
        });
    }


    function showFeedTool() {
      hideAllTool();
      $('.FeedTool').show();
    }

    function showInventoryTool() {
      hideAllTool();
      $('.InventoryTool').show();
    }

    function showPigChangeTool() {
      hideAllTool();
      $('.PigChangeTool').show();
    }

    function hideAllTool() {
      $('.InventoryTool').find('input').val("");
      $('.FeedTool').find('input').val("");

      $('.FeedTool').hide();
      $('.InventoryTool').hide();
      $('.PigChangeTool').hide();
    }


    function init() {
      ajax_refreshPigCnt();
      hideAllTool();     
      bindingEvent();
    }

    function bindingEvent() {
      $('input[type=radio][name=WorkType]').change(function () {
        if (this.value == 'DoFeed') {
          showFeedTool();
        } else if (this.value == 'DoWeight') {
          showInventoryTool();
        } else if (this.value == 'DoPigChange') {
          showPigChangeTool();
        } else {
          hideAllTool();
        }
      });

      $('.ckb-danger').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-danger').parent().show();
          return;
        }
        $('.panel-danger').parent().hide();
      });

      $('.ckb-warning').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-warning').parent().show();
          return;
        }
        $('.panel-warning').parent().hide();
      });

      $('.ckb-success').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-success').parent().show();
          return;
        }
        $('.panel-success').parent().hide();
      });

      $('.ckb-info').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-info').parent().show();
          return;
        }
        $('.panel-info').parent().hide();
      });

      $('.ckb-default').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-default').parent().show();
          return;
        }
        $('.panel-default').parent().hide();
      });

      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        hideAllTool();

      });
    }

    $(function () {
     
      init();
    });
  </script>
}
