@model IMS.Models.TraceMaster

@{
  ViewBag.Title = IMS.Resources.Resource.TracePM + Model.TraceNo;
  IMS.DAL.IMSDBContext IMSdb = new IMS.DAL.IMSDBContext();
}


<h2>
  <b>@IMS.Resources.Resource.TracePM</b>
  <small>
    @Model.TraceNo
    @if (IMSdb.TraceDetail.Where(m => m.TraceNo == Model.TraceNo && m.WorkType == "生產出貨").Any())
    {
      <span class="label label-success">已出貨</span>
      @Html.ActionLink("查看交易明細", "", new { pigFarmId = Model.PigFarmId }, new { Class = "btn btn-link" })
    }
    else
    {
      <span class="label label-warning">未出貨</span>
    }

  </small>
  <div class="pull-right">
    <button id="slide_TopArea" class=" btn btn-default btn-circle">收合</button>
    @Html.ActionLink(IMS.Resources.Resource.Comm_BackToList, "Index", new { pigFarmId = Model.PigFarmId }, new { Class = "btn btn-default" })
  </div>
</h2>


@Html.Action("_TraceDetails", new { traceNo = Model.TraceNo })




@section JS{
  <script>
    function init() {
      $('input[type=radio][name=WorkType]').change(function () {

        if (this.value == '飼料') {
          $('#FeedTool').show();
          $('#InventoryTool').hide();
        } else if (this.value == '盤點') {
          $('#InventoryTool').show();
          $('#FeedTool').hide();
        } else {
          $('#FeedTool').hide();
          $('#InventoryTool').hide();
        }
      });

      $('#ckb-danger').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-danger').parent().show();
          return;
        }
        $('.panel-danger').parent().hide();
      });

      $('#ckb-warning').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-warning').parent().show();
          return;
        }
        $('.panel-warning').parent().hide();
      });

      $('#ckb-success').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-success').parent().show();
          return;
        }
        $('.panel-success').parent().hide();
      });

      $('#ckb-info').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-info').parent().show();
          return;
        }
        $('.panel-info').parent().hide();
      });

      $('#ckb-default').change(function () {
        if ($(this).is(":checked")) {
          $('.panel-default').parent().show();
          return;
        }
        $('.panel-default').parent().hide();
      });
      
    }
    


    $(function () {
      $("#slide_TopArea").click(function () {
        $("#div_TopArea").slideToggle("");
      });
      init();
    });
  </script>
}