
@using PagedList.Mvc;
@model PagedList.IPagedList<IMS.ViewModels.PigletGrow>

@{
  ViewBag.Title = "批次豬隻成長履歷";
  IMS.DAL.IMSDBContext IMSdb = new IMS.DAL.IMSDBContext();
}

<h2>批次豬隻成長履歷</h2>
<hr />
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      @*<div class="panel-heading">查詢結果</div>*@
      <div class="panel-body">

        @using (Html.BeginForm())
        {
          <input id="pigFramId" name="pigFramId" value="@ViewBag.PigFarmId" type="hidden" />
          <div class="row form-group">
            <div class="col-sm-3">
              <label class="control-label" for="CategoryDDl">養豬場</label>
              @getDropDown.getPigFarm("PigFramDDl", "", false, true, false)
            </div>
            <div class="col-sm-3">
              <label class="control-label" for="SearchString">關鍵字</label>
              <input class="form-control" id="SearchString" name="SearchString" value=@ViewBag.CurrentFilter>
            </div>
            <div class="col-sm-6 ">
              <br />
              <input type="submit" value=@IMS.Resources.Resource.Comm_Search class="btn btn-default" />
              <button id="btn_create" class="btn btn-primary">@IMS.Resources.Resource.Comm_Add</button>
            </div>
          </div>
        }
      </div>
      <!-- Table -->
      <table class="table table-hover table-striped table-responsive">
        <thead class="text-center">
          <tr>
            <th>
              <b>履歷編號</b>
            </th>
            <th width="120px">
              <b>生產日期(起)</b>
            </th>
            <th width="120px">
              <b>生產日期(訖)</b>
            </th>
            <th>
              <b>仔豬數量</b>
            </th>
            <th>
              <b>最近盤點數量</b>
            </th>
            <th>
              <b>出貨狀態</b>
            </th>
            <th>
              <b>成長履歷</b>
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            string traceNo = item.TraceNo;
            <tr>
              <td>
                @Html.DisplayFor(m => item.TraceNo).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.BornDate_s).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.BornDate_e).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.PigletCnt).ToString()
              </td>
              <td>
                @IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "盤點").OrderByDescending(x => x.WorkDate).Select(m => m.InventoryPigCount).FirstOrDefault()
              </td>
              <td>
                @if (IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "生產出貨").Any())
                {
                  <span class="label label-success">已出貨</span>
                }
                else
                {
                  <span class="label label-warning">未出貨</span>
                }
              </td>
              <td>
                @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "CreateEditTrace", new { traceNo = traceNo }, new { Class = "btn btn-success" })
              </td>


            </tr>
          }
        </tbody>
      </table>
      @if (Model.Count() < 1)
      {
        <div class="well well-sm" style="width:100%">
          <p class="text-center text-warning">查無資料</p>
        </div>
      }


      <br />
      <div class="text-center">
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page,traceNo = ViewBag.traceNo, sdate = ViewBag.sdate, edate = ViewBag.edate, status = ViewBag.status }))
      </div>
    </div>
  </div>
</div>

@section JS{

  <script>
    if ($.cookie("pigFarmId")) {
        $("#PigFramDDl").val($.cookie("pigFarmId"));
    } else {
        setPigFarmId($("#PigFramDDl").val());

    }


    $("#PigFramDDl").change(function () {

        setPigFarmId($(this).val());
        var url = '@Url.Action("Index")?pigFarmId=' + $(this).val()
        window.location = url;

    });

    $("#btn_create").click(function (e) {
      
      showCreateTraceMaster();
      e.preventDefault();
    });


  </script>

}