
@using PagedList.Mvc;
@model PagedList.IPagedList<IMS.Models.TraceMaster>

@{
  ViewBag.Title = IMS.Resources.Resource.PigletGrowPM;
  IMS.DAL.IMSDBContext IMSdb = new IMS.DAL.IMSDBContext();
}
<br />

<ol class="breadcrumb">
  <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">首頁</a></li>
  <li class=""><a href="@Url.Action("Index","Home")">@IMS.Resources.Resource.Model_Traceability</a></li>
  <li class="active">@IMS.Resources.Resource.PigletGrowPM</li>
</ol>

<h2>批次豬隻成長履歷</h2>
<hr />
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      @*<div class="panel-heading">查詢結果</div>*@
      <div class="panel-body">

        @using (Html.BeginForm())
        {
          <input id="pigFramId" name="pigFramId" value="@ViewBag.PigFarmId" type="hidden" />
          <div class="row form-group">
            <div class="col-sm-3">
              <label class="control-label" for="CategoryDDl">養豬場</label>
              @getDropDown.getPigFarm("PigFramDDl", "", false, true, false)
            </div>
            <div class="col-sm-3">
              <label class="control-label" for="SearchString">關鍵字</label>
              <input class="form-control" id="SearchString" name="SearchString" value=@ViewBag.CurrentFilter>
            </div>
            <div class="col-sm-6 ">
              <br />
              <input type="submit" value=@IMS.Resources.Resource.Comm_Search class="btn btn-default" />
              <button id="btn_create" class="btn btn-primary">@IMS.Resources.Resource.Comm_Add</button>
            </div>
          </div>
        }
      </div>
      <!-- Table -->
      <table class="table table-hover table-striped table-responsive">
        <thead class="text-center">
          <tr>
            <th>
              <b>履歷編號</b>
            </th>
            <th>
              <b>出生日期(起)</b>
            </th>
            <th>
              <b>出生仔豬數量</b>
            </th>
            <th>
              <b>目前豬隻數量</b>
            </th>
            <th>
              <b>目前日齡</b>
            </th>
            <th>
              <b>所屬階段</b>
            </th>
            <th>
              <b>成長履歷</b>
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            string traceNo = item.TraceNo;
            int nowPigCnt = 0;
            if (IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "DoPigChange").Any())
            {
              nowPigCnt = IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "DoPigChange").Sum(m => m.PigChangeCnt);
            }
            nowPigCnt = item.PigCnt + nowPigCnt;
            DateTime bornDate = item.BornDate;
            DateTime bornDate_end = item.BornDate_end;
            var daysAge = (DateTime.Today - bornDate).TotalDays;
            var daysAge_end = (DateTime.Today - bornDate_end).TotalDays;

            <tr>
              <td>
                @Html.DisplayFor(m => item.TraceNo).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.BornDate)
              </td>
              <td>
                @Html.DisplayFor(m => item.PigCnt).ToString()
              </td>
              <td>
                @nowPigCnt
              </td>
              <td>
                @daysAge_end - @daysAge 天
              </td>
              <td>
                @if (IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "DoneStage1").Any())
                {
                  if (IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "DoneStage2").Any())
                  {
                    if (IMSdb.TraceDetail.Where(m => m.TraceNo == traceNo && m.WorkType == "DoneStage3").Any())
                    {
                      <span class="label label-success">@IMS.Resources.Resource.StageLast</span>
                    }
                    else
                    {
                      <span class="label label-info">@IMS.Resources.Resource.Stage3</span>
                    }
                  }
                  else
                  {
                    <span class="label label-warning">@IMS.Resources.Resource.Stage2</span>
                  }

                }
                else
                {
                  <span class="label label-danger">@IMS.Resources.Resource.Stage1</span>
                }
              </td>
              <td>
                @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "CreateEditTrace", new { traceNo = traceNo, pigCnt = item.PigCnt }, new { Class = "btn btn-success" })
              </td>


            </tr>
          }
        </tbody>
      </table>
      @if (Model.Count() < 1)
      {
        <div class="well well-sm" style="width:100%">
          <p class="text-center text-warning">查無資料</p>
        </div>
      }


      <br />
      <div class="text-center">
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page,traceNo = ViewBag.traceNo, sdate = ViewBag.sdate, edate = ViewBag.edate, status = ViewBag.status }))
      </div>
    </div>
  </div>
</div>

@{Html.RenderAction("ModalCreateTraceMaster");}

@section JS{

  <script>
    if ($.cookie("pigFarmId")) {
        $("#PigFramDDl").val($.cookie("pigFarmId"));
    } else {
        setPigFarmId($("#PigFramDDl").val());

    }

    function ajax_addTraceMaster() {

      var $form = $('#traceMasterVM');      
      var url = "http://" + document.location.host + "/api/TraceMaster";
      var data = $form.find('input[name],select[name]').serialize();
      data = data + "&PigFarmId=" + $("#PigFramDDl").val();
      console.log(data);
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function (data) {
          console.log(data);
          alert("新增成功");
          location.reload();
        }
      });
    }

    function ajax_getPigCnt(sdate, edate,dadType,momType) {
      var url = "@Url.Action("GetPigCnt")?sdate=" + sdate + "&edate=" + edate + "&dadType=" + dadType+ "&momType=" + momType+"&PigFarmId=" + $("#PigFramDDl").val();      
      return $.ajax({
          type: "GET",
          url: url       
      });
    };

    $('#BornDate_e,#BornDate_s,#dadType,#momType').change(function () {
      if ($('#BornDate_s').val() && $('#BornDate_e').val()) {
        $.when(ajax_getPigCnt($('#BornDate_s').val(),
          $('#BornDate_e').val(),
          $('#dadType').val(),
          $('#momType').val())).done(function (data) {
            $('#PigCnt').val(data);
            if (data) {
              $('#btn_addTraceMaster').attr("disabled", false);
            } else {
              $('#btn_addTraceMaster').attr("disabled", true);
            }
          });
      }

    });


    $("#PigFramDDl").change(function () {
        setPigFarmId($(this).val());
        var url = '@Url.Action("Index")?pigFarmId=' + $(this).val()
        window.location = url;
    });

    $("#btn_create").click(function (e) {
      showCreateTraceMaster();
      e.preventDefault();
    });

    $("#btn_addTraceMaster").click(function () {
      ajax_addTraceMaster();
    })


  </script>

}