
@using PagedList.Mvc;
@model PagedList.IPagedList<IMS.ViewModels.PigletGrow>

@{
  ViewBag.Title = "批次豬隻成長履歷";
}

<h2>豬隻成長履歷</h2>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <!-- Default panel contents -->
      @*<div class="panel-heading">查詢結果</div>*@
      <div class="panel-body">

        @using (Html.BeginForm())
        {
          <input id="pigFramId" name="pigFramId" value="@ViewBag.PigFarmId" type="hidden" />
          <div class="row form-group">
            <div class="col-sm-3">
              <label class="control-label" for="CategoryDDl">養豬場</label>
              @getDropDown.getPigFarm("PigFramDDl", "", false, true, false)
            </div>
            <div class="col-sm-3">
              <label class="control-label" for="SearchString">關鍵字</label>
              <input class="form-control" id="SearchString" name="SearchString" value=@ViewBag.CurrentFilter>
            </div>
            <div class="col-sm-6 ">
              <br />
              <input type="submit" value=@IMS.Resources.Resource.Comm_Search class="btn btn-default" />
            </div>
          </div>
        }
      </div>
      <!-- Table -->
      <table class="table table-hover table-striped table-responsive">
        <thead class="text-center">
          <tr>
            <th width="120px"> 
              <b>生產日期(起)</b>
            </th>
            <th width="120px">
              <b>生產日期(訖)</b>
            </th>
            <th>
              <b>仔豬數量</b>
            </th>
            <th>
              <b>成長履歷</b>
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                @Html.DisplayFor(m => item.BornDate_s).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.BornDate_e).ToString()
              </td>
              <td>
                @Html.DisplayFor(m => item.PigletCnt).ToString()
              </td>
              <td>
                @Html.ActionLink(IMS.Resources.Resource.Comm_Edit, "CreateEditTrace", new { traceNo = item.BornDate_s.ToString("yyyyMMdd") + item.BornDate_e.ToString("yyyyMMdd") }, new { Class = "btn btn-success" })
              </td>


            </tr>
          }
        </tbody>
      </table>
      @if (Model.Count() < 1)
      {
        <div class="well well-sm" style="width:100%">
          <p class="text-center text-warning">查無資料</p>
        </div>
      }


      <br />
      <div class="text-center">
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page,traceNo = ViewBag.traceNo, sdate = ViewBag.sdate, edate = ViewBag.edate, status = ViewBag.status }))
      </div>
    </div>
  </div>
</div>

@section JS{

  <script>
        if ($.cookie("pigFarmId")) {
            $("#PigFramDDl").val($.cookie("pigFarmId"));
        } else {
            setPigFarmId($("#PigFramDDl").val());

        }


        $("#PigFramDDl").change(function () {

            setPigFarmId($(this).val());
            var url = '@Url.Action("Index")?pigFarmId=' + $(this).val()
            window.location = url;

        });


  </script>

}